/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Main content */
body {
  margin: 0;
  background-color: black;
}

/* The navigation bar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  background-color: black;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 10;

  font-size: 22px;
  font-family: 'Lato', sans-serif;
}

.navbar.info {
  left: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar.pages {
  right: 80px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* Links inside the navbar */
.navbar a,
.dropdown .dropbtn,
.dropdown a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;

  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

.dropdown a {
  width: 100%;
  padding: 12px;
}

/* The dropdown container */
.dropdown {
  height: 100%;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  height: 100%;
  font-size: 22px;
  background-color: black;
  color: white;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: wrap;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change background on mouse-over */
.navbar a:hover,
.dropdown .dropbtn:hover {
  background: #ddd;
  color: black;
}

.main {
  margin: 60px 0 0 0; /* Add a top margin to avoid content overlay */
}

/* Overall stying */
.section {
  position: relative;
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
}

.section.background {
  position: absolute;
  width: 100%;
  height: 100%;

  z-index: -1;

  background-size: cover;
  background-position: center;
}

.section.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 500px;
}

.section.header p {
  max-width: 50%;
  font-size: 20px;
  color: white;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.section.post {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: #ccc;
}

.section.post.a {
  background-color: #333333;
}

.section.post.b {
  background-color: #1a1a1a;
}

.post-text {
  width: 35%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;

  overflow: wrap;
}

.post-content {
  position: relative;
  width: 35%;
  max-width: 1000px;
  aspect-ratio: 16 / 9;
  flex: 1 0 auto;
}

.post-image {
  object-fit: cover;
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

.post-video {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
  border-radius: 18px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.post-buttons {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.post-button {
  position: relative;
  height: 100%;
  width: 18%;
  margin: 0 50px;

  transition: all 250ms ease-in-out;
}

.post-button:hover {
  transform: scale(1.15);
}

.button-background {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  background-size: cover;
  background-position: center;
  filter: blur(0) brightness(0.5);
  transition: all 250ms ease-in-out;
}

.button-background:hover {
  filter: blur(3px) brightness(0.4);
  opacity: 1;
  transform: scale(0.9);
}

.button-text {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 18px;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  text-shadow: 0 0 20px black;
  color: white;
  pointer-events: none;
  transition: all 250ms ease-in-out;
}

/* Text */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 54px;
  color: white;
  text-shadow: 0 0 20px black;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: white;
  text-shadow: 0 0 20px black;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

.caption-text {
  font-family: 'Lato', sans-serif;
  color: #f2f2f2;
  font-size: 18px;
  padding: 50px 12px 8px 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.9)
  );
  pointer-events: none;
  border-radius: 0 0 18px 18px;
}

/* Reusable */
.margin {
  margin: 30px;
}

/* Slideshow */
* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
}

/* Hide the images by default */
.slide {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0, 0, 0, 0.2);
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
